header {
    margin: 5vh 0;
    text-align: center;
    font-size: 0.8em;
    font-family: 'Ribeye';
    color: greenyellow;
}

main.CharacterList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (min-width: 768px) {
    header {
        font-size: 1.5em;
        margin: 3vh 0;
    }
}