.App {
    width: 80%;
    margin: 0 auto;
}

div.BtnPages {
    text-align: center;
    margin: 6vh 0;
}
    div.BtnPages button {
        margin: 0 2vw;
        width: 20vw;
        height: 5vh;
        border: 1px solid greenyellow;
        border-radius: 5px;
        font-family: 'Petrona';
        font-weight: 800;
        color: greenyellow;
        background-color: rgba(0, 0, 0, 0.342);
    }
        div.BtnPages button:hover {
            cursor: pointer;
        }

footer p {
    font-family: 'Petrona';
    text-align: center;
    font-size: 0.7em;
    color: #c4c4c4;
    margin: 5vh 0 3vh 0;
    padding-top: 2vh;
    border-top: 1px solid #c4c4c498;
}

@media (min-width: 500px) {
    .App {
        width: 90%;
    }
    div.BtnPages button {
        font-size: 1em;
    }
}

@media (min-width: 500px) {
    div.BtnPages button {
        width: 15vw;
    }
}

@media (min-width: 1024px) {
    .App {
        width: 70%;
    }
}