@font-face {
    font-family: 'Ribeye';
    src: url(./assets/fonts/Ribeye/Ribeye-Regular.ttf);
}

@font-face {
    font-family: 'Petrona';
    src: url(./assets/fonts/Petrona/static/Petrona-Regular.ttf);
}

@font-face {
    font-family: 'Petrona';
    src: url(./assets/fonts/Petrona/static/Petrona-ExtraBold.ttf);
    font-weight: 800;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.479), rgba(0, 0, 0, 0.609)),
                      url(./assets/images/background.jpg);
}